.dashboard {
  height: 100%;
  .map-div {
    overflow: hidden;
    background-color: #EFEFEF;
    height: 100%;
    @media (max-width: 991px) { height: 67% };
    padding: 0;
    #map {
      height: 100%;
      width: 100%;
      display: relative;
      border: 1px solid black;
    }
  }
  .menu {
    height: 100%;
    @media (max-width: 991px) { height: 67% };
    background-color: #FEFEFE;
    .table {
      width: 100%;
    }
    .btn-div {
      text-align: center;
    }
  }
  #tip-btn {
    position: absolute;
    bottom: 10px;
    left: 10px;
    font-size: 1.2em;
  }
  #tip-box {
    position: absolute;
    bottom: 0;
    left: 0;
    border: 0 solid gray;
    border-width: 5px 5px 0 0;
    display: none;
    #close-tip-btn {
      position: absolute;
      right: -9px;
      top: -8px;
      color: black;
    }
  }
  .shade {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.8);
    display: none;
    #back-btn {
      position: absolute;
      top: 0;
      right: 0;
      border-radius: 0;
      border: 0 solid white;
      border-width: 0 0 2px 2px;
      background-color: transparent;
    }
    .bottom-left {
      position: absolute;
      bottom: 0;
      left: 25%;
      width: 50%;
      height: 100%;
      overflow-y: auto;
      overflow-x: hidden;
      .bottom-left-table {
        position: absolute;
        width: 100%;
        margin-bottom: 0;
        background-color: rgba(0,0,0,0);
        color: #DDD;
        tr:hover {
          background-color: rgba(200,200,200,0.3)
        }
        td {
          width: 33%;
        }
        a {
          color: #DDD;
          text-decoration: none;
        }
      }
    }
  }
}

.btn-select {
}













